DATABASE_URL="postgresql://postgres:VOTRE_MOT_DE_PASSE@localhost:5432/ai_chat_platform" 

JWT_ACCESS_SECRET="change_me"
JWT_REFRESH_SECRET="change_me_too"
CLOUDINARY_CLOUD_NAME="votre_cloud_name"
CLOUDINARY_API_KEY="votre_api_key"
CLOUDINARY_API_SECRET="votre_api_secret"